$navbar-dark-color: rgb(255, 46, 46);

$theme-colors: (
  "hriso-bg": #1f1417
);

$body-bg: #1f1417;

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6
);

$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

.cat-pix {
  width: 60vw;

  @media (min-width: $bootstrap-sm) {
    width: 35vw;
  }

  @media (min-width: $bootstrap-md) {
    width: 20vw;
  }

  @media (min-width: $bootstrap-lg) {
    width: 14vw;
  }

  @media (min-width: $bootstrap-xl) {
    width: 7vw;
  }
}


.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  background: rgb(92, 37, 0)  no-repeat center center;
  background-size: 100% 100%;
  height: 12vh !important;
  width: 12vw !important;
  filter: invert;

}


// #gallery {
  
//   img {
//     height: 75vw;
//     object-fit: cover;
    
//     @media (min-width: $bootstrap-sm) {
//       height: 35vw;
//     }
    
//     @media (min-width: $bootstrap-lg) {
//       height: 10vw;
//     }
//   }
// }

@import '../node_modules/bootstrap/scss/bootstrap.scss';
